.banner {
  height: 40vw;
  position: relative;
  background: url("./img/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner_img {
  position: relative;
  width: 100%;
  object-fit: contain;
}
.banner_info {
  background: black;
  color: #ffff;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner_info button {
  background: #ff7779;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}
.banner_info button:hover {
  background-color: white;
  color: #ff7779;
}
.banner_info h5 {
  margin-top: 10px;
}
.banner_search {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.banner_search button {
  background-color: #ffff;
  font-weight: 900;
  text-transform: inherit;
  width: 100%;
  color: #ff7779;
}
