.SeachPage_info {
  padding: 20px;
}
.SeachPage_info p {
  margin-bottom: 10px;
  font-size: 14px;
}
.SeachPage_info h1 {
  margin-bottom: 30px;
}
.SeachPage_info button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}
